<div id="<%= dom_id product %>">
  <p>
    <strong>Brand:</strong>
    <%= product.brand_id %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= product.model %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= product.size %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

</div>
